*{
    padding: 1%;
}

body{
    /*
    background-image: url(./img/codigo.jpg);
    */
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;    
    text-align:center;
    top: 0;
    width: 90%;
    
}


h1, h2, h3 {
    margin-top: 1%;    
    margin-bottom: 1%; 
}

p {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

button {
    background-color: black;
    color: white;
    white-space: nowrap;
}

#aboutmeaaaa{
    background-color: white;
    color: black;

}

.nombre {
    font-size: 1000%;
}

section > div {
    min-height: 100vh;
}

footer {
    
    text-align: center;
    
}

#skills-section {
   display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    
    padding: 30px 5%; 
    margin: 0;
}

#skills-section h2 {
    width: 100% ; 
}

#skills-section article {
    flex-basis: 30%; 
    text-align: center;
}


.logosContacto {
    width: 3%;
    height: 3%;
}


a{
    text-decoration:none;

}

.logoLenguaje{
     width: 20%;
    height: 20%;
}
