*{
    padding: 0.6%;
}

body{
    /*
    background-image: url(./img/codigo.jpg);
    */
}
header{
    display: flex;
    justify-content: space-between;    
    text-align:center;

}

button {
    background-color: black;
    color: white;
    white-space: nowrap;
}

#aboutme{
    background-color: white;
    color: black;

}



.nombre {
    font-size: 1000%;
}