* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
}



body {
  font-family: system-ui, sans-serif;
  background-color: rgb(77, 74, 74);
  color: white;
  
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;    
    text-align:center;
    top: 0;
    width: 90%;
    
}


h1, h2, h3 {
    margin-top: 1%;    
    margin-bottom: 1%; 
}

p {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

button {
    background-color: black;
    color: white;
    white-space: nowrap;
}

#aboutmeaaaa{
    background-color: white;
    color: black;

}

.nombre {
    font-size: 1000%;
}

/*
section > div {
    min-height: 100vh;
}
*/

footer {
    
    text-align: center;
    
}

#skills-section {
   display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    
    padding: 30px 5%; 
    margin: 0;
}

#skills-section h2 {
    width: 100% ; 
}

#skills-section article {
    flex-basis: 30%; 
    text-align: center;
}


.logosContacto {
    width: 3%;
    height: 3%;
}


a{
    text-decoration:none;
}

.logoLenguaje{
  width: 50%;
  height: 50%;
}

.logoLenguajeBack{
  width: 40%;
  height: 40%;
}

/* Bordes electricos */

.tec {
  margin: 5%;
  display: flex;
  gap: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
    
}


/* CSS Variables */
:root {
  --electric-border-color: #f8d0d0;
  --gradient-color: oklch(
    from var(--electric-border-color) 0. calc(c / 2) h / 0.4
  );
  
}

/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* SVG positioning */
.svg-container {
  position: absolute;
}

/* Card container */
.card-container {
  padding: 0.2%;
  border-radius: 24px;
  position: relative;
  width: 350px;
  height: 500px;
  min-height: 500px;
  min-width: 350px;
      
}

/* Border layers */
.border-outer {
  border: 2px solid rgba(253, 209, 198, 0.5);
  border-radius: 24px;
  padding: 2px -2px;
}

.main-card {
  width: 350px;
  height: 500px;
  min-height: 500px;
  min-width: 350px;
  border-radius: 24px;
  border: 2px solid var(--electric-border-color);
  filter: url(#turbulent-displace);
  margin-left: -5%;
  margin-top: -2%;
  
}

/* Content container */
.content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:row;
}

/* Content sections */
.content-top {
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-bottom: 1%;
  height: 100%;
}


/* Typography */
.title {
  font-size: 36px;
  font-weight: 500px;
  margin-top: auto;
}

/* titulo */
.scrollbar-glass {
  cursor:default;
  background: radial-gradient(
      47.2% 50% at 50.39% 88.37%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
  position: relative;
  border-radius: 14px;
  width: fit-content;
  height: fit-content;
  padding:5% 2%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}


